.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #001332;
    border-radius: 20px;
    width: 600px;
    height: 85vh;
    margin-top: 50px;
    margin-top: 10px;
}

.title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    align-items: center;
    justify-self: center;
    margin-bottom: 15px;
}

.back {
    background-color: #ffffff;
    color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;

}

.back:hover {
    background-color: #c5c5c5;
}

.form h4 {
    margin-bottom: 1px;
    margin-top: 10px;
    color: white;
}

.form p {
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;
}